._hintLabel {
    text-transform: uppercase !important;
    background-color: rgba(224, 224, 122, 0.5) !important;
    font-size: 13px !important;
    border-radius: 3px;
    padding: 2px !important;
    color: #000 !important;
    opacity: 1 !important;
}
._hintElem._hintFocus {
    color: #f0f070 !important;
}
._hintElem._hintFocus img {
    opacity: 1;
}
